/*background styling for entire body of the application*/
.entireBody {
  background-image: url("./../../images/321.jpg");
  background-size: cover;
    /*background-color: pink;*/
}
.img{
  opacity:0.5;
}

/*//styling for the different meals that have been logged */
    .meals {
   margin: 0 0 2em 0;
   list-style-type: none;
   padding: 0;
   width: 15em;
 }
 .meals .badge {
     display: inline-block;
     font-size: small;
     color: white;
     padding: 0.8em 0.7em 0 0.7em;
     background-color: #607D8B;
     line-height: 1em;
     position: relative;
     left: -1px;
     top: -4px;
     height: 1.8em;
     margin-right: .8em;
     border-radius: 4px 0 0 4px;
   }
   .selected {
   background-color: #CFD8DC !important;
   color: white;
 }
 .meals div.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .meals div:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .meals .text {
    position: relative;
    top: -3px;
  }
  /*//styling for header section*/
/*.header{
  height:180px;
  width: auto;
  background-image: url("./../../images/456.jpg");
  background-repeat: no-repeat;
}*/
